<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- DataTable HEADER-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">


    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            min-height: 100vh;
            overflow-x: hidden; /* Remove horizontal scrolling */
            background-color: #f4f4f4;
        }

        /* Sidebar Navigation */
        .side-nav {
            background-color: black;
            color: white;
            padding: 15px;
            text-align: left;
            width: 200px;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
        }

        .side-nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .side-nav a {
            text-decoration: none;
            color: #fff;
            display: block;
            padding: 10px;
            margin-top: 10px;
            border-radius: 3px;
            border-radius: 20px;
            transition: 0.33s ease-in-out;
            font-weight: 500;
        }

        .side-nav a:hover {
            color: black;
            background-color: white;
            border-radius: 20px;
        }

        /* Main Content Area */
        .content {
    margin-left: 220px; /* Adjusted to accommodate sidebar */
    padding: 20px; /* Adjusted padding */
    flex: 1;
}

        /* Top Navigation */
        .top-nav {
            width: 100%;
            height: 90px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            background-color: rgb(255, 255, 255);
            padding: 15px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            /* margin-left: 212px; */
        }

       
/* Table Styling */
table {
    width: calc(100% - 240px); /* Adjusted table width */
    border-collapse: collapse;
    margin: 20px auto;
}


        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: black;
            color: white;
        }

        /* Pagination Styling */
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .pagination button {
            padding: 10px;
            margin: 0 5px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        .pagination button.active {
            background-color: black;
            color: white;
        }

        .block-btn-notBlock {
            background-color: green;
            color: white;
        }

        .block-btn-Block {
            background-color: red;
            color: white;
        }

        /* Responsive Styles */
        @media only screen and (max-width: 600px) {
            .side-nav {
                display: none;
            }
            .content {
                margin-left: 0; /* Adjusted for smaller screens */
            }
        }

        .headline u {
            text-decoration: none;
        }
    </style>
</head>

<body>

    <!-- Sidebar Navigation -->
    <div class="side-nav">
        <ul>
            <li><a href="/admin/home">Dashboard</a></li>
            <li><a href="/admin/user">User</a></li>
            <li><a href="/admin/category">Category</a></li>
            <li><a href="/admin/product">Product</a></li>
            <li><a href="/admin/order">order</a></li>
            <li><a href="/admin/coupoun">coupoun</a></li>
            <li><a href="/admin/Banner">Banner</a></li>
            <li><a href="/admin/sale">Sales</a></li>
            <li><a href="/admin/logout">logout</a></li>
            <!-- Add more navigation items as needed -->
        </ul>
    </div>

    <!-- Main Content Area -->
    <div class="content">
        <!-- Top Navigation -->
        <div class="top-nav">
            <!-- Add top navigation content here if needed -->
            <h1 class="headline"><u>Order Management</u></h1>
        </div>

        <!-- form handling -->
        <form>            
            <table id="example" class="table table-striped" style="width:70%">

                <thead>
                    <tr>

                        <th>Product</th>
                        <th>Product Name</th>
                        <th>Order ID</th>
                        <th>User Name</th>
                        <th>Shipping Address</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th>Payment</th>
                        <th>Order Status</th>
                        <th>Created At</th>
                    </tr>
                </thead>
                <tbody>
                    <% ordersWithDataSorted.forEach(order => { %>
                        <% order.cartProduct.forEach(cartItem => { %>
                            <% if (order.products.some(product => product._id.$oid === cartItem.productname.$oid)) { %>
                                <% const product = order.products.find(product => product._id.$oid === cartItem.productname.$oid); %>
                                <tr>
                                    
                                    <td><img src="/productImages/<%= product.image[0] %>" style="width:70px" height="70px"></td>
                                    <td><%= product.p_name %></td>
                                    <td><%= order._id %></td>
                                    <td><%= order.address[0]?.name %></td>
                                    <td>
                                        <%= order.address[0]?.houseName %>,
                                        <%= order.address[0]?.city %>,
                                        <%= order.address[0]?.phone %>,
                                        <%= order.address[0]?.postalCode %>
                                    </td>
                                    <td><%= cartItem.quantity %></td>
                                    <td>₹<%= order.payment.method.reduce( (acc, x) => acc + parseFloat(x.amount), 0) %></td>
                                    <td>
                                        <% order.payment.method.forEach( (meth, index) => { %>
                                            <% if (meth.mode=== "razorpay") { %>
                                                <strong>Online Payment</strong> 
                                            <% } else if(meth.mode=== "cashondelivery") {%>
                                                <strong>COD</strong> 
                                            <% } else {%>
                                                <strong>Wallet</strong> 
                                            <% } %>
                                            <%= order.payment.method.length == 2 && index == 0 ? ", " : ""  %>
                                            <% }) %>
                                        
                                    </td>
                                    <td>
                                        <select id="<%= product._id %>" onchange="status('<%= order._id %>', '<%= product._id %>')" name="itemStatus" <%= order.status === 'cancelled' ? 'disabled' : '' %> style="<%= order.status === 'cancelled' ? 'font-weight: bold; color: black;' : '' %>" class="status-select">
                                            <option value="Pending" <%= product.status === 'Pending' ? 'selected' : '' %>>Pending</option>
                                            <option value="Shipped" <%= product.status === 'Shipped' ? 'selected' : '' %>>Shipped</option>
                                            <option value="Delivered" <%= product.status === 'Delivered' ? 'selected' : '' %>>Delivered</option>
                                            <option value="Cancelled" <%= product.status === 'Cancelled' ? 'selected' : '' %>>Cancelled</option>
                                            <option value="Return Request" <%= product.status === 'Return Request' ? 'selected' : '' %>>Return Request</option>
                                            <option value="Return" <%= product.status === 'Return' ? 'selected' : '' %>>Return</option>
                                        </select>
                                    </td>
                                    
                                    
                                    <td><%= order.createdAt.toISOString().slice(0, 19).replace("T", " ") %></td>
                                </tr>
                            <% } %>
                        <% }); %>
                    <% }); %>
                </tbody>
            </table>
        </form>
    </div>
     <!-- DATATABLE  SCRIPT-->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.datatables.net/v/bs5/dt-1.13.8/datatables.min.js"></script>  
<script>
   new DataTable('#example');
   
  </script>

<script>
    // JavaScript function to handle status update
    async function status(orderId, productId) {
        const newStatus = document.getElementById(productId).value;

        // Send HTTP request to update order status
        try {
            const response = await fetch(`/admin/order/${orderId}/${productId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ status: newStatus })
            });

            if (!response.ok) {
                throw new Error('Failed to update order status');
            }

            const data = await response.json();
            console.log('Order status updated successfully:', data);
            // Implement UI update logic here if needed
        } catch (error) {
            console.error('Error updating order status:', error.message);
            // Handle error
        }
    }
</script>


</body>

</html>
